@font-face {
    font-family: w95fa;
    src: url(w95fa.woff);
}

html {
    scroll-padding-top: 70px;
}

body {
    background-color: #FEEBFD;
    background-image: url(lines.png);
    background-repeat: repeat;
    margin:0;
    padding:0;
}

ul {
    font-family: w95fa;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a6225d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 20px;
    border-bottom: 2px solid #591232;
  }

  #navcontainer {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  li {
    margin: 2px;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #731740;
  }
  
.container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 25px;
}

#main {
    width: 70%;
    background: white;
    color: black;
}

#video {
    width: 70%;
    background-color: white;
}

#games {
    width: 70%;
    background-color: white;
}

.content {
    width: 95%;
}

.content p {
    padding: 5px;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.about {
    width: 90%;
    padding: 7px;
}

.about p {
    margin-top: 0;
    margin-bottom: 0;
}

.contribution {
    color: #5d5d5d;
    margin-bottom: 20px;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 90%;
}

.columnvideo {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.skill {
    padding: 8px;
    border: 1px solid #5b1635;
    border-radius: 20px;
    font-size: 13px !important;
    margin: 5px;
    text-align: center;
}

.onecolumn {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 90%;
}


.window {
    position: relative;
    border: 1px solid white;
    border-image: url(border2.png);
    border-image-slice: 51 15 15 15;
    border-width: 51px 15px 15px 15px;
    border-image-repeat: repeat;
    box-shadow: 5px 7px #3f3f3f;
    font-family: w95fa;
    padding: 10px;
    margin: 20px;
}

.windowName {
    position: absolute;
    top: -37px;
    left: 4px;
    font-size: 23px;
    color: white;
}

.window p {
    font-size: 17px;
}

.links {
    display: flex;
    flex-direction: row;
}

.button {
    border: 2px solid #5b1635;
    border-radius: 5px;
    width: 90px;
    padding: 10px 5px 5px 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1.5px 1.5px #5b1635;
    text-decoration: none;
    margin: 5px;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #A6225D;
    color: white;
}

.fa-brands {
    padding-right: 5px;
}

.fa-brands:hover {
    color: white;
}

.mainpic {
    width: 90%;
    aspect-ratio: 16 / 9;
}

.columnpic {
    width: 100%;
    aspect-ratio: 16 / 9;
}

@media only screen and (max-width: 350px) {
    .row {
        display: grid;
        gap: 3px 3px;
    }
}

@media only screen and (max-width: 400px) {
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 400px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .columns {
        flex-direction: row;
    }

    .youtube-video {
        width: 60%;
    }

    .about {
        width: 40%;
        padding: 20px;
    }

    .mainpic {
        width: 50%;
    }

    .onecolumn {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .window p {
        font-size: 19px;
    }

    h1 {
       font-size: 22px; 
    }

    .skills {
        font-size: 16px !important;
    }
}